*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
    background-image: url("WhatsApp Image 2024-04-23 at 6.17.48 PM.jpeg" );
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
a{
    /* position:relative;
    display: inline-block; */
    padding:10px 10px;
    margin:auto;
    color:pink;
    transition: .5s;
    margin-right:10%;
    
}
a:hover{
    background-color: aquamarine;
    color:brown;
    box-shadow: 0 0 5px aquamarine, 0 0 25px aquamarine, 0 0 50px aquamarine, 0 0 200px aquamarine;
    -webkit-box-reflex: below 2px linear-gradient(transparent, black );
}
a:nth-child(1){
    filter:hue-rotate(200deg);
}
a:nth-child(2){
    filter:hue-rotate(300deg);
}
a:nth-child(3){
    filter:hue-rotate(400deg);
}

